[flake8]
exclude =
    .git,
    __pycache__,
    build,
    dist,
    versioneer.py,
    labpdfproc/_version.py,
    doc/manual/source/conf.py
# recommendations from https://github.com/psf/black/blob/06ccb88bf2bd35a4dc5d591bb296b5b299d07323/docs/guides/using_black_with_other_tools.md#flake8
max-line-length = 88
extend-ignore = E203
