recursive-include src *
recursive-include tests *
include AUTHORS.txt LICENSE*.txt README.rst

# Exclude all bytecode files and __pycache__ directories
recursive-exclude src *.pyc *.pyo __pycache__/
recursive-exclude tests *.pyc *.pyo __pycache__/
